body {
  font: 300 16px /1.5em 'Lato', sans-serif;
  //color:#ffffff;
}


/*links*/
a {
  //color:#4d565d; /*active*/
  color: #a29061;
  text-decoration: none;
}

a:hover{
  opacity: 0.8;
}

/*images*/
img{
  max-width: 100%;
  height: auto;
}

/*grid*/
.container{
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

/*Page Header*/
.page-header{
  padding:55px 0;
}

.page-header > .container{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.brand .brand img{
  display: block;
}

/*Menu*/
.menu-items{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.menu-items li.menu::before{
  position:absolute;
  content:'';
  height:4.3rem;
  border-left: 1px solid;
  margin-top:-4rem;
  margin-left:.6rem;
  color: #2d3439;
  opacity: 0.1;
}

.menu-items li.active::before{
  position:absolute;
  content:'';
  height:4.3rem;
  border-left: 1px solid;
  margin-top:-4rem;
  margin-left:.6rem;
  color: #4d565d;
  opacity: 100;
}

.menu-items li{
  margin: 0 4px;
  display: inline-block;
  list-style: none;

}

.menu-items li a{
  padding: 10px 10px;
  display: inline-block;
  font-size: 18px;
  line-height: 1.2em;
  font-weight: 400;
  letter-spacing: 0.05px;

}
.menu-items .active{
  color: #4d565d;
}

.menu-items .menu-icon a{
  background-repeat: no-repeat;
  padding: 0;
  width: 70px;
  height: 13px;
}

.menu-line{
  background-image: url('../img/menu line.svg');

}
/*top section*/
.top-section{
  background-image: url('../img/top-bg.png');
  background-size: cover;
  height:1000px;
  width: auto;
}

/*welcome-section*/
.welcome-section{
  background-image: url('../img/welcome bg grey.png');
  background-size: contain;
  background-repeat: no-repeat;
  height:1000px;
  width: auto;
  position:relative;

}



/*news-section*/
.news-section {
  background-image: url('../img/news bg.png');
  background-size: cover;
  height: 800px;
  width: auto;
  margin-top: -300px;
}

/*page footer*/

.page-footer .links{
  background-color:#455560;
  color: #54626c;
}

.site-footer__bottom {
  background-color: #2d3439;
  color: #575d61;
}


.site-footer__bottom .container{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.site-footer__bottom .contact{
  display:flex;
  justify-content: space-between;
  align-items: center;
}