@import "partials/_page-header.scss";
@import "partials/_menu.scss";
@import "partials/_top-section.scss";
@import "partials/_welcome-section.scss";
@import "partials/_news-section.scss";
@import "partials/_page-footer.scss";

body {
  font: 300 16px /1.5em 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
}

/*links*/
a {
  color: #a29061;
  text-decoration: none;
}

a:hover{
  opacity: 0.8;
}

/*images*/
img{
  max-width: 100%;
  height: auto;
}

/*grid*/
.container{
  max-width: 1620px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.container-header{
  max-width: 1620px;
}

/*RWD for mobile*/
@media only screen and (max-width: 640px) {
  body {
    font-size: 8px;
  }

  .page-header{
    padding: 25px 0;
  }

  .menu-items{
    display:inline;
  }

  .menu-items li a{
    font-size: 9px;
    line-height: 1.2em;
    font-weight: 400;
  }

  .brand img{
    margin-left:30px;
    max-width:50%;
  }

  .section-header{
    margin-top:-10px;
    line-height: 2.7em;
  }

  .top-section-title{
    text-align: center;
    margin-left:10px;
  }

  .arrow{
    margin-top:150px;
  }

  .arrow img{
    max-width: 11%;
  }

  .welcome-section .container{
    flex-direction: column;
  }

  .welcome-section .content {
    margin-top: 40px;
    width: 100%;
    text-align: center;
  }

  .content p {
    line-height: 1.4;
  }

  .news-section .container{
    flex-direction: column;
  }
  .news-section-content {
    width: 100%;
    margin-top:20%;
    margin-right: 200px;
    text-align: center;
  }

  .news-section-content h4 {
    text-align: center;
  }

  .news-section-btn{
    width: 100px;
    height: 100px;
  }

  #none-mobile{
    display:none;
  }

  .menu-footer{
    margin-bottom: 20px;
  }

  .page-footer .links .container{
    flex-wrap: wrap;
    padding-top: 37px;
    padding-bottom: 20px;
  }

  .menu-footer {
    font-size: 0.9em;
    margin-right: -15px;
    margin-top:5px;
  }

  .line-separator {
    height: 35px;
  }

  .page-footer-form .text {
    padding: 0;
    margin-top: -25px;
    padding-top:4px;
  }

  .buttons{
    margin-left:-136px;
  }

  .button_email {
    height: 35px;
    width: 190px;
  }

  .button_subscribe {
    height: 35px;
    width: 100px;
  }

  .site-footer__bottom .container{
    flex-direction: column;
    text-align: center;
  }

  .contact img{
    max-width: 10%;
    margin-left:14px;
  }

  /*BG*/
  .top-section{
    background-image: url('../img/top-bg-small.png');
    height: 450px;
  }
  .welcome-section {
    background-image: url('../img/welcome-bg-small.png');
    height: 400px;
    background-size: contain;
  }

  .news-section {
    background-image: url('../img/news-bg-small.png');
    height: 400px;
  }

}

