
/*welcome-section*/
.welcome-section{
  background-image: url('../img/welcome bg grey.png');
  background-size: cover;
  background-repeat: no-repeat;
  height:900px;
  width: auto;
  position:relative;
  color:#ffffff;
}

.welcome-section .container{
  display:flex;
}

.welcome-section .content{
  margin-top: 150px;
  width: 45%;
}

.content h2{
  font-size: 3.75em;
  text-transform:uppercase;
  font-weight: 300;
}

.content h4{
  font-size: 2.5em;
  text-transform:uppercase;
  font-weight: 300;
  color: #a29061;
}

.content p {
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.16px;
}

.first-btn{
  background-color: transparent;
  border: none;
  position:relative;
  margin-top: 610px;
  margin-right:100px;
}